.flex {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flexInline {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flexColumn {
  display: flex !important;
  flex-direction: column !important;
}

.justifyBetween {
  display: flex !important;
  justify-content: space-between !important;
}

.justifyAround {
  display: flex !important;
  justify-content: space-around !important;
}

.justifyEvenly {
  display: flex !important;
  justify-content: space-evenly !important;
}
